$nav_height: 3.5rem;
$nav_background_color: white;
$primary_color: #82b9b6;
$price_color: $primary_color;
$text_max_width: 70rem;
$logo_size: 25rem;
$phone_height: 3rem;
$copyright_color: #a1a1a1;
$social_logo_size: 4rem;
$mobile_limit: 1200px;
$comment_border_color: gray;
$comment_space: 2rem;
