@font-face {
  font-family: 'ClassicaOne';
  src: local('Classica One'), local('ClassicaOne'), url('../fonts/classicaone.woff2') format('woff2');
}

@font-face {
  font-family: 'PFDinTextCondPro-Light';
  src: local('PFDinTextCondPro-Light'), local('PFDinTextCondPro-Light'), url('../fonts/PFDinTextCondPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sunday-Regular';
  src: local('Sunday-Regular'), url('../fonts/Sunday-Regular.ttf') format('truetype');
}
