@import "config";

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 8;

  .paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    h2 {
      margin: 1em auto;
      font-size: 3em;
      align-self: center;
    }

    p {
      font-size: 1.5em;
      font-weight: 300;
      text-align: center;
    }

    & > p {
      max-width: $text_max_width;
      margin: auto;
      padding: 0 2rem;
    }
  }
}

@media screen and (max-width: 720px) {
  main {
    .paragraph {
      h2 {
        font-size: 2em;
      }

      p {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}
