a
{
    color:black!important;
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.main-wrapper
{
    margin-bottom: 2%;
}
h6{
    text-align: center;
}
h5{
    text-align: center;
}