h1{
    color:   rgba(0, 209, 255, 1);
    display: inline-table;
    margin-right: 5%;
}
.content-wrapper{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 90%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 350px;
}
.card-list{

    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.card-title{
    color:   rgba(0, 209, 255, 1);
}
.card-content {
    min-height: 142px;
}