

@media only screen and (max-width: 414px) {
    footer div.row ul{
        height: auto!important;
    }
    
}
footer{
    background-color:  rgba(0, 209, 255, 1)!important;
}
footer div.row ul{
    height: 110px;
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: center;
}
footer div.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
footer .container{
        max-width: 1280px;
        width: 100%!important;
        padding: 0 5px 0 5px;
}
.footer-text{
    width: 25%;
    margin-right: 10%;
}
.footer-text h6 a{
    display: flex;
    align-items: center;
    width: 100%;
}
.footer-text h6{
    display: flex;
    align-items: center;
}
.footer-text h6 i{
    height: 100%;
}
.footer-text h6 a i{
    margin-right: 5px;
 
}
@media only screen and (max-width: 1020px) {
    footer div.row ul{
        width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    footer div.row{
        flex-direction: column;
        align-items: center;
    }
    div.footer-text{
        display: flex;
        flex-direction: column;
        width: auto;
        margin:0;
    }
}