extends ../template

block content
    include ../../components/comment/index
    -
        var bolerplate = {
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            name: 'Пётр',
            date: '12.13.14',
            time: '18:30'
        }
        var comments = new Array(9).fill(bolerplate)
    .comments
        each data in comments
            +comment(data)
    .contribution
        +comment_input()