@import "../../styles/config";

main {
  display: flex;
  width: 100%;
  flex-direction: column;

  .comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .contribution {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
