include ../logo/index
include ../logo/phone

mixin footer()
    footer
        .social
            - var socialLinks = ["vk","youtube","instagram","facebook","recall"]
            each name in socialLinks
                a(href="//www.vk.com")
                    div(class=name)
        .logo-container
            img(src=require('../../images/footer/footerimg.jpg'))
            +logo(true)
            +phone(true)
        .timetable
            h3 Часы работы
            -
                times = [
                {
                days: "C понедельника по четверг",
                hours: [10, 0]
                },
                {
                days: "Пятница",
                hours: [10, 2]
                },
                {
                days: "С субботы по воскресенье",
                hours: [12, 2]
                }
                ]
            .lines
                mixin line(data)
                    .line
                        h4= data.days
                        p= data.hours[0] + ":00 - " + data.hours[1] + ":00"
                each time in times
                    +line(time)
        .copyright
            p По вопросам рекламы и сотрудничества: laponaramapr@gmail.com