extends ../template

block content
    .paragraph
        h2 Наши Акции
        .carousel
            - var images = [1,2,3,4]
            each image in images
                img(src=require("../../images/dishes/"+image+".jpg"))
        .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat

