@import "../../styles/config";

main {
  .paragraph {
    h2 {
      text-transform: capitalize;
    }

    .text {
      max-width: $text_max_width;
      margin: auto;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
