extends ../template

block content
    .paragraph
        h2 Исаакиевский собор
        .image
            .front
            img(src=require('../../images/from_window/sobor.png'))
        .text
            p
                | Построен в 1818—1858 гг. по проекту архитектора Огюста Монферрана. Cтроительство
                | курировал император Николай I, председателем Комиссии о построении собора был Карл Опперман. Творение
                | Монферрана — четвёртый по счёту храм в честь Исаакия Далматского, построенный на этом месте в
                | Санкт-Петербурге.