@import "../../styles/config";

main {
  .paragraph {
    position: relative;

    h2 {
      text-transform: capitalize;
    }

    .image {
      width: 100%;
      position: relative;
      filter: saturate(1.2);

      .front {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        background: url('../../images/from_window/accentuated_sobor.png') center no-repeat;
        background-size: cover;
      }

      img {
        z-index: 5;
        width: 100%;
      }
    }

    .text {
      position: absolute;
      top: 30vh;
      left: 1rem;
      max-width: 50%;
      background-color: rgba(0, 0, 0, 0.72);
      display: none;
      justify-content: space-between;
      color: white;
      font-size: 0.5rem;
      padding: 1rem;
    }

    &.sobor-hover {
      .image {
        img {
          filter: blur(3px) brightness(1) saturate(0.9);
        }
      }

      .text {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    .paragraph {
      .text {
        position: static;
        background-color: white;
        color: black;
        max-width: $text_max_width;
        display: flex;
        font-size: 0.7rem;
      }
    }
  }
}
