@font-face {
    font-family: Poiret One;
    src: local("Poiret One"), local("Poiret One"), url(../fonts/PoiretOne-Regular.ttf) format("truetype")
}

.material-icons {
    font-family: 'Material Icons'!important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    padding: 0;
    margin: 0;
    font-family: Poiret One!important;
    font-weight: bold!important;
}

nav {
    z-index: 115!important;
}

.nav-wrapper {
    z-index: 90!important;
}

.hide-on-med-and-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.hide-on-med-and-down li {
    flex: 1;
}

.hide-on-med-and-down li a {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    background: url(../header/head.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.page-footer .container .logo a {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 2em;
}

.page-footer .container .logo a img {
    width: 3rem;
}

.logo {
    height: 25rem;
    margin: 1rem auto;
    padding: 0 1rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.tel a {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    
}

.mobile-phone {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
}

.nav-wrapper a img {
    height: 70%;
}

.nav-wrapper {
    display: flex!important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.tel a img {
    width: 2.5rem;
}

.tel a span {
    color: black;
    font-size: 2em;
}

.header-logo {
    max-width: 100%;
}

nav ul li a {
    font-size: 1.5em!important;
}

.window {
    flex: 2!important;
    max-width: 19%!important;
}

.close {
    justify-content: flex-end!important;
}

.close a {
    position: absolute!important;
}

.sidenav li>a>i {
    color: black!important;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}