extends ../template

block content
    include  ../../components/news/index
    -
        var data = {
            header: "Загаловок",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat",
            date: '19.04.2017',
            time: '19:43',
            image: require('../../images/dishes/1.jpg')
        }
        var news = new Array(9).fill(data)
        var top = {
            header: "Уважаемые посетители!",
            text: "Предупреждаем вас что наш ресторан будет закрыт\n19.04.2017\nПриносим извинения за временные неудобства"
        }
    +top_news(top)
    .posts-wrapper
        .posts
            each data in news
                +post(data)