main .rest-wrapper {
    height: 400px;
    width: 100%;
    overflow: hidden;
}
video {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
    
}
.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about p{
    width: 60%;
    padding-bottom:5%;
    text-align: justify;
    font-size: 1.5em!important;
}
.dishes h2{
    text-align: center;
}
.dishes
{
    padding-bottom:5%;
}
.more
{
    margin-top: -30%;
    position: relative;
    background-image: url(./index/dishes/overlay.png); /* Путь к фоновому рисунку */
    background-position: left bottom; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
}
.map
{
    margin-bottom: 5%;
}