main .rest-wrapper {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

video {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    width: 60%;
    padding-bottom: 5%;
    text-align: justify;
    font-size: 1.5em!important;
}

.dishes h2 {
    text-align: center;
}

.dishes {
    padding-bottom: 5%;
}

.more-wrapper {
    position: relative;
}

.more {
    position: absolute;
    background-image: url(../index/dishes/overlay.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    margin: 0 auto;
    width: 100%;
}

.map {
    margin-bottom: 5%;
}