@import "../../styles/config";

.logo {
  height: $logo_size;
  margin: 2rem auto;
  padding: 0 2rem;
  width: $logo_size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  div {
    flex-shrink: 1;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &.mobile {
    height: 100%;
    width: auto;
    margin: auto;
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    div {
      width: auto;
      flex: 1;

      img {
        height: 100%;
        width: auto;
      }
    }

    .top {
      height: calc(#{$nav_height} * (105 / 178));
    }

    .middle {
      height: calc(#{$nav_height} * (43 / 178));

      img {
        margin: -2px 0 2px 0;
      }
    }

    .bottom {
      height: calc(#{$nav_height} * (30 / 178));

      img {
        margin: -7px 0 7px 0;
      }
    }

    @media screen and (max-width: 340px) {
      display: none;

      .top {
        height: calc(#{$nav_height / 2} * (105 / 178));
      }

      .middle {
        height: calc(#{$nav_height / 2} * (43 / 178));
      }

      .bottom {
        height: calc(#{$nav_height / 2} * (30 / 178));
      }
    }
  }
}
