@import "../../styles/config";

.phone {
  position: absolute;
  top: 2rem;
  left: 1rem;
  height: $phone_height;
  width: auto;

  a {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
    width: auto;

    img {
      width: $phone_height;
    }

    span {
      flex: 1;
      display: block;
      width: auto;
      text-align: center;
      height: 100%;
      line-height: $phone_height;
      font-size: 2em;
      margin-left: 0.5em;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  &.mobile {
    position: static;
    height: 100%;
    margin: auto;

    span {
      margin-top: 5px;
      margin-bottom: -5px;
    }

    @media screen and (max-width: 505px) {
      height: 100%;
      flex-shrink: 1;

      a {
        img {
          width: $phone_height / 2;
        }

        span {
          flex-shrink: 1;
          font-size: 1.5em;
        }
      }
    }

    @media screen and (max-width: 420px) {
      a {
        span {
          font-size: 1.2em;
        }
      }
    }

    @media screen and (max-width: 370px) {
      a {
        img {
          width: $phone_height / 3;
        }

        span {
          flex-shrink: 1;
          font-size: 1em;
        }
      }
    }
  }
}
