mixin phone(white,mobile)
    .phone(class=mobile?"mobile":"")
        a(href="tel:+7-812-925-84-95")
            if(white)
                img(src=require('../../images/logo/white/old-typical-phone.svg'))
            else
                img(src=require('../../images/logo/old-typical-phone.svg'))
            span +7-812-925-84-95