.menu-section-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 770px) {
    .menu-section img {
        width: 100vw;
        max-height: 100vh;
    }
}

@media only screen and (max-width: 414px) {
    .tabs .tab a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .tabs {
        flex-direction: column!important;
    }
    .indicator {
        display: none;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto!important;
}

.menu-section-list li {
    flex: 1;
    min-width: 30%;
    padding: 1%;
}

.tab a {
    color: rgba(0, 0, 0, 0.6)!important;
    text-align: center;
}

.tab a.active {
    color: black!important;
}

h2 {
    text-align: center;
}

a {
    color: black;
}

.card-title {
    color: black!important;
}

.modal.bottom-sheet {
    width: 65%;
    margin: 0 auto;
}

.dish-img img {
    width: 100%;
}

.dish-img {
    width: 50%;
    margin-left: 5%;
    position: absolute;
    margin-top: -10%;
}

.dish-img-wrapper {
    margin-bottom: 10%;
}

.dish-img-wrapper {
    position: relative;
}