extends ../template

block content
    .paragraph
        h2 Ждём вас!
        p У нас играют свадьбы, делают предложения, отдыхают с друзьями и просто обедают. Ресторан "Я люблю" любит своих гостей и желает приятного полета на высоте 60 метров над землей!
        .view
            #street
        script.
            /* eslint-disable */
            function initialize () {
                var location = {lat: 59.933196, lng: 30.2565042};
                var panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('street'), {
                        position: location,
                        pov: {
                            heading: 34,
                            pitch: 0
                        }
                    });
            }
            /* eslint-enable */

        script(async="", defer="", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzsJgUEKUW7xIav1W7GPLWdXr_CwTI-Wk&callback=initialize")