extends ../template

block content
    include ../../components/gallery/index
    -
        var images = new Array(11).fill({
            source: require('../../images/gallery/first_album_cover.jpg'),
            thumb: require('../../images/thumbnails/gallery/first_album_cover_thumb.jpg')
        })
        var albums = [
        {
            name: 'first-album',
            cover: require('../../images/thumbnails/gallery/first_album_cover_thumb.jpg'),
            header: 'Первый альбом'
        },
        {
            name: 'second-album',
            cover: require('../../images/thumbnails/gallery/second_album_cover_thumb.png'),
            header: 'Второй альбом'
        },
        {
            name: 'third-album',
            cover: require('../../images/thumbnails/gallery/third_album_cover_thumb.jpg'),
            header: 'Третий альбом'
        },
        {
            name: 'fourth-album',
            cover: require('../../images/thumbnails/gallery/fourth_album_cover_thumb.jpg'),
            header: 'Четвёртый альбом'
        },
        {
            name: 'fifth-album',
            cover: require('../../images/thumbnails/gallery/fifth_album_cover_thumb.jpg'),
            header: 'Пятый альбом'
        }
        ]

    .observe
        each album in albums
            a(href='#' + album.name)
                .image-wrapper
                    img(src=album.cover)
                h3= album.header
    .gallery
        a(href='#').home-link
            p ← Назад
        +album(images)
        +album(images)
        +album(images)
        +album(images)
        +album(images)
