extends ../template

block content
    .paragraph
        .address
            a(href="https://www.google.ru/maps/place/59%C2%B055'59.0%22N+30%C2%B015'24.6%22E/@59.93307,30.25682,19z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0", target="_blank")
                h4
                    | Васильевский остров, 26 линия,
                    br
                    | дом 15, корп. 2, 15-й этаж

        p
            | Просим при себе иметь любой документ, удостоверяющий личность.
            br
            span.right Спасибо. Надеемся на понимание
        p
            | 8-812-925-84-95
            br
            | E-mail: iloverestoran@mail.ru
            br
            | По вопросам рекламы и сотрудничества: lapanoramapr@gmail.com
