extends ../template

block content
    include ../../components/menu/index
    -
        var dishBolerplate = {
            name: "Карпаччо из говядины с твердым сыром и ароматом трюфеля",
            price: "440р",
            highlight: false
        }
        var typeBolerplate = {
            name: "Холодные закуски",
            image: require('../../images/dishes/1.jpg'),
            dishes: new Array(9).fill(dishBolerplate)
        }
        typeBolerplate.dishes[5] = dishBolerplate = {
            name: "КАПРЕЗЕ ИЗ МОЦАРЕЛЛЫ С СОУСОМ ПЕСТО",
            price: "480р",
            highlight: true
        }
        var categoryBolerplate = {
            name: "Холодные закуски",
            types: [
                {
                    name: "Холодные закуски",
                    image: require('../../images/dishes/1.jpg'),
                    dishes: [
                        {
                            name: "Грибная икра.Подается с тостами из чиабатты",
                            price: "395"
                        },
                        {
                            name: "Карпаччо из говядины с твердым сыром и ароматом трюфеля",
                            price: "440"
                        },
                        {
                            name: "КАПРЕЗЕ ИЗ МОЦАРЕЛЛЫ С СОУСОМ ПЕСТО",
                            price: "480",
                            highlight: true
                        },
                        {
                            name: "Сырное ассорти(копчный Сулугуни,Камамбер,Дорблю,Грана падано)",
                            price: "620"
                        },
                        {
                            name: "Мясное ассорти(парма,копченая утка,салями,телячий язык)",
                            price: "645"
                        },
                        {
                            name: "Тар-Тар из мраморной говядины с корнишонами и чили перцем",
                            price: "670"
                        },
                        {
                            name: "Три тар-тара(лосось/клубника,тунец/авокадо,гребешок/киви)",
                            price: "690"
                        }
                    ]
                },
                {
                    name: "Салаты",
                    image: require('../../images/dishes/2.jpg'),
                    dishes: [
                        {
                            name: "Свежие овощи,заправленные оливковым маслом или сметаной",
                            price: "260"
                        },
                        {
                            name: "Сезонные овощи с копченой фетой",
                            price: "295"
                        },
                        {
                            name: "Фирменный Оливье с лососем или говядиной",
                            price: "340/290"
                        },
                        {
                            name: "Классический салат Цезарь с куриным филе или креветками",
                            price: "360/410"
                        },
                        {
                            name: "САЛАТ С УТИНОЙ ГРУДКОЙ ПОД УСТРИЧНЫМ СОУСОМ",
                            price: "390",
                            highlight: true
                        },
                        {
                            name: "Тар-Тар из мраморной говядины с корнишонами и чили перцем",
                            price: "670"
                        },
                        {
                            name: "Три тар-тара(лосось/клубника,тунец/авокадо,гребешок/киви)",
                            price: "690"
                        }
                    ]
                },
                {
                    name: "Супы",
                    image: require('../../images/dishes/3.jpg'),
                    dishes: [
                        {
                            name: "Свежие овощи,заправленные оливковым маслом или сметаной",
                            price: "260"
                        },
                        {
                            name: "Сезонные овощи с копченой фетой",
                            price: "295"
                        },
                        {
                            name: "Фирменный Оливье с лососем или говядиной",
                            price: "340/290"
                        },
                        {
                            name: "Классический салат Цезарь с куриным филе или креветками",
                            price: "360/410"
                        },
                        {
                            name: "САЛАТ С УТИНОЙ ГРУДКОЙ ПОД УСТРИЧНЫМ СОУСОМ",
                            price: "390",
                            highlight: true
                        },
                        {
                            name: "Тар-Тар из мраморной говядины с корнишонами и чили перцем",
                            price: "670"
                        },
                        {
                            name: "Три тар-тара(лосось/клубника,тунец/авокадо,гребешок/киви)",
                            price: "690"
                        }
                    ]
                },
                {
                    name: "Горячие закуски",
                    image: require('../../images/dishes/4.jpg'),
                    dishes: [
                        {
                            name: "Свежие овощи,заправленные оливковым маслом или сметаной",
                            price: "260"
                        },
                        {
                            name: "Сезонные овощи с копченой фетой",
                            price: "295"
                        },
                        {
                            name: "Фирменный Оливье с лососем или говядиной",
                            price: "340/290"
                        },
                        {
                            name: "Классический салат Цезарь с куриным филе или креветками",
                            price: "360/410"
                        },
                        {
                            name: "САЛАТ С УТИНОЙ ГРУДКОЙ ПОД УСТРИЧНЫМ СОУСОМ",
                            price: "390",
                            highlight: true
                        },
                        {
                            name: "Тар-Тар из мраморной говядины с корнишонами и чили перцем",
                            price: "670"
                        },
                        {
                            name: "Три тар-тара(лосось/клубника,тунец/авокадо,гребешок/киви)",
                            price: "690"
                        }
                    ]
                },
                {
                    name: "Паста и ризотто",
                    image: require('../../images/dishes/5.jpg'),
                    dishes: [
                        {
                            name: "Свежие овощи,заправленные оливковым маслом или сметаной",
                            price: "260"
                        },
                        {
                            name: "Сезонные овощи с копченой фетой",
                            price: "295"
                        },
                        {
                            name: "Фирменный Оливье с лососем или говядиной",
                            price: "340/290"
                        },
                        {
                            name: "Классический салат Цезарь с куриным филе или креветками",
                            price: "360/410"
                        },
                        {
                            name: "САЛАТ С УТИНОЙ ГРУДКОЙ ПОД УСТРИЧНЫМ СОУСОМ",
                            price: "390",
                            highlight: true
                        },
                        {
                            name: "Тар-Тар из мраморной говядины с корнишонами и чили перцем",
                            price: "670"
                        },
                        {
                            name: "Три тар-тара(лосось/клубника,тунец/авокадо,гребешок/киви)",
                            price: "690"
                        }
                    ]
                },
            ]
        }

    .category-navigation
        a(href="#main") Основное
        a(href="#banuet") Банкетноое
        a(href="#reception") Фуршетное
        a(href="#bar") Барное
    .slick-menu
        +menu_category(categoryBolerplate.types, categoryBolerplate.name)
        +menu_category(categoryBolerplate.types, categoryBolerplate.name)
        +menu_category(categoryBolerplate.types, categoryBolerplate.name)
        +menu_category(categoryBolerplate.types, categoryBolerplate.name)
