@import "../../styles/config";

main {
  .category-navigation {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    a {
      text-transform: capitalize;
      color: black;
      text-decoration: none;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;

      &:visited {
        color: black;
      }

      &:hover {
        color: lighten($primary_color, 15%);
      }

      &:active {
        color: $primary_color;
      }

      &.selected {
        text-decoration: underline;
      }
    }
  }
}

.slick-menu {
  width: 100%;
  overflow: hidden;
}
