@font-face {
    font-family: Poiret One;
    src: local("Poiret One"), local("Poiret One"), url(../fonts/PoiretOne-Regular.ttf) format("truetype")
}
h1{
    text-align: center;
}
.material-icons {
    font-family: 'Material Icons'!important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    padding: 0;
    margin: 0;
    font-family: Poiret One!important;
    font-weight: bold!important;
}

nav {
    z-index: 115!important;
}

.nav-wrapper {
    z-index: 90!important;
}
.current_page_item a 
{
    color: #82b9b6!important;
}
.hide-on-med-and-down {
    height: 64px!important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.hide-on-med-and-down li {
    flex: 1;
}

.hide-on-med-and-down li a {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    background: url(../header/head.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.page-footer .container .logo a {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 2em;
}
.page-footer .container .logo a img {
    width: 3rem;
}
.sidenav li {
    max-height: 48px;
}

.logo {
    height: 15rem;
    margin: 1rem auto;
    padding: 0 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
@media only screen and (max-width: 992px) {
    .window{
        flex: none!important;
        max-width: 100%!important;
        height: 48px;
    }
}

@media only screen and (max-width: 300px) {
    .tel a span {
        font-size: 1.5em!important;
    }
    .logo {
        height: 17rem;
        margin: 1rem auto;
        padding: 0;
        width: 16rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    .about p{
        font-size: 1.2em!important;
    }
}
.nav-logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}
a.nav-logo img
{
    height: 30%!important;
    width: 87px;
}
.tel a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-phone {
    display: none;
    flex-direction: row-reverse;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
}

.mobile-phone span {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-wrapper a img {
    margin-right: 10px;
    height: 70%;
}

.nav-wrapper {
    display: flex!important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.tel a span {
    margin-left: 10px;
}

.tel a img {
    width: 2.5rem;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    a.logo {
        display: block;
        height: auto;
    }
    div.logo {
        display: block;
        height: auto;
    }
}

.tel a span {
    color: black;
    font-size: 2em;
}

.header-logo {
    max-width: 100%;
}

nav ul li a {
    font-size: 1.5em!important;
}

.window {
    flex: 2!important;
    max-width: 19%;
}

.close {
    justify-content: flex-end!important;
}

.close a {
    position: absolute!important;
    padding: 0!important;
}

.sidenav li>a>i {
    color: black!important;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}