.page-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    background: url(/footer/footerimg.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.page-footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-footer .container .logo a
{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}
.page-footer .container .logo a img{
    width: 3rem;
}
.social .vk {
    background: url(/footer/social/vk.svg) no-repeat 50%;
    background-size: cover;
}
.social .youtube {
    background: url(/footer/social/youtube.svg) no-repeat 50%;
    background-size: cover;
}
.social .instagram {
    background: url(/footer/social/instagram.svg) no-repeat 50%;
    background-size: cover;
}
.social .facebook {
    background: url(/footer/social/facebook.svg) no-repeat 50%;
    background-size: cover;
}
.social .recall {
    background: url(/footer/social/recall.svg) no-repeat 50%;
    background-size: cover;
}

.social .vk:hover {
    background: url(/footer/social/vkonhover.svg) no-repeat 50%;
    background-size: cover;
}
.social .youtube:hover {
    background: url(/footer/social/youtubeonhover.svg) no-repeat 50%;
    background-size: cover;
}
.social .instagram:hover {
    background: url(/footer/social/instagramonhover.svg) no-repeat 50%;
    background-size: cover;
}
.social .facebook:hover {
    background: url(/footer/social/facebookonhover.svg) no-repeat 50%;
    background-size: cover;
}
.social .recall:hover {
    background: url(/footer/social/recallonhover.svg) no-repeat 50%;
    background-size: cover;
}
.social div {
    height: 4rem;
    width: 4rem;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social a{
    margin-left: 1%;
    margin-right: 1%;
}