@import "../../styles/config";

.album {
  margin: 2rem 3rem;

  .m-p-g {
    width: 100%;
    max-width: 100%;

    .m-p-g__thumbs {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .m-p-g__thumbs-img {
      max-height: 300px !important;
      margin: 0.5rem;
    }
  }
}

@media screen and (max-width: $mobile_limit) {
  .album {
    .m-p-g {
      .m-p-g__thumbs-img {
        max-width: 300px !important;
      }
    }
  }
}
