include ../logo/index
include ../logo/phone
include ./lang_selector

mixin header()
    header
        -
            var languges = {
                "Русский": '../',
                "English": './en/'
            }
        +lang(languges)
        +logo()
        +phone()