
mixin lang(list)
    .lang-wrapper
        .custom-select.lang
            span.placeholder Chose language
            ul
                each link, name in list
                    li.custom-option
                        a(href="#", data-link=link)= name