* {
    outline: none !important;
}

header {
    z-index: 10;
}

.hide-on-med-and-down li a {
    display: flex;
    color: black;
    transition: 0.2s linear;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    box-shadow: none !important;
    background-color: #ffffff;
}

.hide-on-med-and-down li a:hover {
    color: white;
    background-color: black;
}

#bouquets li a:hover {
    color: white;
    background-color: #ffaf60 !important;
}

.hide-on-med-and-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

.phone {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.phone span {
    font-size: 1rem;
    color: #ababab;
}

.dropdown-content {
    top: 64px !important;
    box-shadow: none !important;
    border-radius: 0px;
}

.head {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    color: black;
    font-size: 4rem;
    font-weight: bold;
}

#search {
    border: 1px solid #ffaf60 !important;
    margin: 0;
    padding: 0 0 0 10px;
    height: 47px;
    box-sizing: border-box;
}

.search-bar form {
    margin: 3px;
}

.search-bar form .input-field {
    display: flex;
    align-items: center;
}

.search-bar form .input-field a.btn-flat {
    background-color: #ffaf60;
    color: white;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 47px;
    min-height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar form .input-field a.btn-flat i {
    color: white;
}

.magazine-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.magazine-buttons a.btn-flat {
    color: #ffaf60;
    border-radius: 0;
    border: 1px solid #ffaf60;
    padding: 0;
    margin: 0 10px 0 10px;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
}

.magazine-buttons a.btn-flat:hover {
    background-color: #ffaf60;
    color: white;
}

.magazine-buttons a.cart {
    position: relative;
    overflow: visible !important;
}

@media only screen and (max-width: 1569px) {
    .hide-on-med-and-down {
        display: none !important;
    }
    nav a.sidenav-trigger {
        display: block !important;
    }
}

.magazine-buttons a.cart span {
    position: absolute;
    right: -10px;
    color: white;
    top: -10px;
    width: 20px;
    display: flex;
    height: 20px;
    border-radius: 10px;
    background-color: #ffaf60;
    align-items: center;
    justify-content: center;
}

#bouquets-aside {
    position: static !important;
}

#bouquets-aside li>a {
    padding: 0 32px 0 52px;
}

nav a {
    color: black;
}

main {
    overflow-x: hidden;
}

.sidenav li>a:hover {
    background-color: black;
    color: white;
}

.sidenav li>a:hover i {
    color: white;
}

#bouquets-aside li>a:hover {
    background-color: #ffaf60;
}

.carousel.carousel-slider .carousel-item {
    min-height: 150px;
}

.sidenav-trigger {
    margin: 0 !important;
}

.search-bar span {
    font-size: 1rem;
    color: #ababab;
    font-weight: bold;
    display: flex;
    align-items: center;
}
input{
    -webkit-appearance: none;
}
.spef {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.spef li {
    width: 30%;
    padding: 20px;
    min-width: 350px;
}

.sales-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 45px;
    width: 100%;
    justify-items: center;
}

.custom-card {
    max-width: 370px;
    padding: 15px;
    transition: 0.1s linear;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel .carousel-item {
    text-align: center;
}

.card .card-title {
    font-size: 1.5rem;
}

.card-prices {
    display: flex;
    justify-content: center;
}

.card-prices span.old {
    color: #ababab;
}

.card-prices span.new {
    color: #ffaf60;
}

.card-prices span {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 20px 0 20px;
}

.custom-card .con {
    width: 100%;
}

.custom-card .con h6 {
    text-align: center;
    font-weight: bold;
}

.custom-card:hover {
    border: 2px solid #ffaf60;
}

.hight-link {
    color: #ababab;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 5% 0 5% 0;
}

.hight-link::before {
    display: block;
    content: " ";
    background-image: url("../img/instagram.svg");
    margin: 0 15px;
    background-size: 3rem 3rem;
    color: #ffaf60;
    height: 3rem;
    width: 3rem;
}

.cash::before {
    display: block;
    position: absolute;
    content: " ";
    background-image: url("../img/funds.svg");
    background-size: 3rem 3rem;
    margin: 0 15px;
    color: #ffaf60;
    height: 3rem;
    width: 3rem;
    top: 0;
    width: 3rem;
    left: -5rem;
}

.topay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    justify-items: center;
    width: 100%;
}

.sidenav {
    text-transform: uppercase;
    color: black;
}

.cards::before {
    display: block;
    position: absolute;
    content: " ";
    background-image: url("../img/credit-card.svg");
    background-size: 3rem 3rem;
    margin: 0 15px;
    color: #ffaf60;
    height: 3rem;
    width: 3rem;
    top: 0;
    width: 3rem;
    left: -5rem;
}

.call::before {
    display: block;
    position: absolute;
    content: " ";
    background-image: url("../img/phone-call.svg");
    background-size: 3rem 3rem;
    margin: 0 15px;
    color: #ffaf60;
    height: 3rem;
    width: 3rem;
    top: 0;
    width: 3rem;
    left: -5rem;
}

.vk {
    background-image: url("../img/vk-social-logotype.svg");
}

.inst {
    background-image: url("../img/instagram-white.svg");
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social li {
    margin: 0 25px 0 0;
}

.call a {
    color: white;
}

.img-link {
    width: 48px;
    height: 48px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.block {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.block h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    position: relative;
    align-items: center;
    margin: 5% 0 5% 0;
}

.magazine-buttons {
    display: flex;
    justify-content: space-between;
}

.magazine-buttons a.btn {
    border-radius: 0px;
    box-shadow: none;
}

.card {
    max-width: 370px;
}

.custom-card .img img {
    width: 100%;
}

.card {
    height: 100%;
    width: 100%;
    margin: 0;
}

.card .card-image img {
    height: 100%;
    width: 100%;
}

.card-image {
    height: 100%;
    width: 100%;
}

.spef li .card {
    box-shadow: none !important;
}

.spef li .card .card-title {
    width: 100%;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
}

.spef li {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.search-bar span i {
    color: #ffaf60;
}

.car-wrapper {
    position: relative;
}

.carousel {
    overflow: visible;
}

footer {
    background-image: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.nav-cont {
    max-width: 100% !important;
}

.specifick-container {
    display: flex;
    align-items: center;
}

.car-wrapper {
    overflow-x: hidden;
    padding-bottom: 21vh;
}

.sales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sales h2::before,
.sales h2::after {
    display: block;
    content: " ";
    background-image: url("../img/tulip.svg");
    margin: 0 15px;
    background-size: 3rem 3rem;
    color: #ffaf60;
    height: 3rem;
    width: 3rem;
}

.sales h2 {
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.carousel-item .overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-item .container {
    height: 100%;
    position: relative;
    z-index: 20 !important;
}

.carousel.carousel-slider .carousel-item {
    z-index: 20 !important;
}

.carousel .indicators {
    z-index: 5;
}

.carousel-item .container h2 {
    color: white;
    text-align: left;
    font-size: 3rem !important;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-item .container span {
    color: white;
    text-align: left;
    font-size: 1.5rem;
}

.car-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.prices {
    margin: 20px 0 20px 0;
}

.prices span {
    margin: 15px;
}

.prices .old-price {
    color: #ababab !important;
    text-transform: uppercase;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 1.9rem !important;
}

.prices .new-price {
    color: #ffaf60 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8rem !important;
}

.buy {
    background-color: #ffaf60;
    border-radius: 0;
    display: flex;
    align-items: center;
    transition: 0.2s linear;
}

.buy:hover,
.buy:hover active {
    background-color: rgba(255, 173, 96, 0.6);
}

.item-img {
    position: absolute;
    bottom: -20%;
    right: 0%;
    z-index: 999;
    width: 30%;
}

.spef li h4 {
    border: 6px solid #ffaf60;
    border-radius: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container h2::before,
footer .container h2::after {
    display: block;
    content: " ";
    background-image: url("../img/tulip.svg");
    margin: 0 15px;
    background-size: 3rem 3rem;
    color: #ffaf60;
    height: 3rem;
    width: 3rem;
}

footer .container h2 {
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.spef h4 {
    text-align: center;
}