header
{
    position: fixed;
    width: 100%;
}
.nav
{
    height: 70px;
    background-color: #202e48;
    display: flex;
    align-items: center;
}
.logo
{
   height: 80%;
    margin-left: 10%;
    margin-right: 5%;
}  
.search-form
{
    transition: 0.2s;
     outline: none;
    width: 20%;
    height: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color:#192438;
}
.search
{
    background:#192438;
    color:#202e48;
    height: 100%;
    border-bottom-left-radius: 30px;
     border-top-left-radius: 30px;
    outline: none;
    border: none;
    width: 86%;
     transition: 0.2s;
     text-indent: 10px;
  -o-text-overflow: clip;
  text-overflow: clip;
}
.search_button
{
    
     background:url('content/search_1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
     outline: none;
    margin-left: 1%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
    
}