@import "../../styles/config";

main {
  .rest-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .rest {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .paragraph {
    .text {
      max-width: $text_max_width;
      margin: auto;
      padding: 2rem;
      display: flex;
      justify-content: space-between;

      .price {
        font-family: "Sunday-Regular", serif;
        font-size: 3em;
        text-align: center;
        margin: auto 0.5em;
        color: $price_color;
      }
    }

    &.interior {
      & > p {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }

    .carousel {
      .container {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .map {
    height: 30rem;
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: $text_max_width) {
  main {
    .paragraph {
      .text {
        flex-direction: column-reverse;
      }
    }
  }
}
