
mixin dishes_type(dishes, name, image)
    .dishes-type
        h2= name
        img(src=image)
        ul.dishes
            each dish in dishes
                li(class=(dish.highlight?"highlight":""))
                    span.name= dish.name
                    span.price= dish.price

mixin menu_category(dishesTypes, name)
    .menu-category-wrapper
        .menu-category
            each dishesType in dishesTypes
                +dishes_type(dishesType.dishes, dishesType.name, dishesType.image)
