@media only screen and (max-width: 414px) {
    .logo-nav-wrapper{
        flex-direction: column-reverse;
    }
    .logo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px 0 5px;
    }
    .tel {
        font-size: 19px!important;
    }
    .news{
        margin: 0!important;
        width: auto!important;
    }
    .t1,.t3{
        font-size: 1.28rem!important;
        margin-right: 0!important;
    }
    .t2{
        font-size: 1.92rem!important;
    }
    .reputation-wrapper{
        width: 100%!important;
        flex-direction: column!important;
    }
    .block-left {
        flex-direction: column!important;
        align-items: center!important;
        max-width: 100%!important;
    }
    
}
@media only screen and (max-width: 810px) {
    .news-h {
        flex-direction: column!important;
        align-items: initial!important;
    }
    .h {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.logo-container{
    max-width: 68%;
}
header {
    background: url(../header/header.jpg) 50% no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo-container a img{
    max-width: 100%;
}
.news-h {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
    align-items: flex-end;
}

.t1 {
    text-align: right;
    font-weight: 100;
    margin: 0;
}

.t2 {
    text-align: right;
    margin: 0;
}

.t3 {
    margin: 0;
    font-weight: 100;
}

.sticky-wrapper {
    z-index: 1000;
}

.logo-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5vh;
}

nav {
    position: relative;
    background-color: rgba(0, 209, 255, 0.8);
    box-shadow: none;
}

.h {
    color: white;
    margin-right: 15px;
}

.news ul li {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.news ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.news ul li p {
    font-weight: bolder;
}

.news ul li span {
    margin-left: 5%;
    color: white;
}

.news {
    background-color: rgba(0, 209, 255, 0.8);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
    width: 281px;
}

.news p {
    color: white;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.h h3 {
    font-weight: bolder;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15px;
}

a {
    color: white;
}

.tel {
    font-size: 25px;
}

.hide-on-med-and-down {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hide-on-med-and-down li a {
    text-align: center;
}

@media only screen and (max-width: 600px) {}