include ../logo/index
include ../logo/phone

mixin nav()
    nav(data-sticky-class='sticky')
        .navigation-menu
            -
                var pages =  {
                    'Главная': 'index.html',
                    'Акции': 'actions.html',
                    'Из нашего окна': 'from_window.html',
                    'меню': 'menu.html',
                    'новости': 'news.html',
                    'Отзывы': 'comments.html',
                    'Гаерея': 'gallery.html',
                    '3D Тур': 'tour.html',
                    'Контакты': 'contacts.html'
                };
                var counter = {'новости': 1}
            each link, name in pages
                a(href="./"+link, class=((name.length > 10)?"big":""))=name
                    if counter[name]
                        span.counter=counter[name]
            .close-button
                .icon
        .logo-wrapper
            +logo(false,true)
            +phone(false,true)
        .menu-button
            .icon